@media screen and (max-width:576px) {
*{
    /* margin: 0 auto; */
}
.banner{
    flex-direction: column-reverse;
    text-align: center;
    width: 100%;
    padding: 30px;
    gap: 50px;
}

.banner-img img{
    width: 100%;
    margin: 0 auto;
}


.features{
    margin: 80px auto;
}
.features-title{
    padding-left: 30px;
    padding-right: 30px;
}


.features-items{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 30px;
    padding-left: 30px;

}
.features-items img{
    width: 100%;
}




.ad-banner{
    padding-right:30px;
    padding-left:30px;
    margin: 50px auto;
}

.ad-banner-container{
    flex-direction: column;
    gap: 30px;
}





.offer-container{
    flex-direction: column-reverse;
    padding: 30px 30px;
    width: 100%;
    margin-top: 100px;
}




.insta{
  margin-top: 100px;
  margin-bottom: 100px;

}

.insta-text{
    padding-right: 30px;
    padding-left: 30px;
}
.insta-img{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-right: 30px;
    padding-left: 30px;
}

.insta-img img{
    width: 100%;
}


}