@media screen and (max-width:576px) {
*{
    /* margin: 0 auto; */
}
.banner{
    flex-direction: column-reverse;
    text-align: center;
    width: 100%;
    padding: 30px;
    gap: 50px;
}

.banner-img img{
    width: 100%;
    margin: 0 auto;
}


.features{
    margin: 80px auto;
}
.features-title{
    padding-left: 30px;
    padding-right: 30px;
}


.features-items{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 30px;
    padding-left: 30px;

}
.features-items img{
    width: 100%;
}




.ad-banner{
    padding-right:30px;
    padding-left:30px;
    margin: 50px auto;
}

.ad-banner-container{
    flex-direction: column;
    gap: 30px;
}





.offer-container{
    flex-direction: column-reverse;
    padding: 30px 30px;
    width: 100%;
    margin-top: 100px;
}




.insta{
  margin-top: 100px;
  margin-bottom: 100px;

}

.insta-text{
    padding-right: 30px;
    padding-left: 30px;
}
.insta-img{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-right: 30px;
    padding-left: 30px;
}

.insta-img img{
    width: 100%;
}


.latest{
    height: auto;
    width: 100%;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
}

.contact{
    width: 100%;
    padding: 20px 20px;
    flex-direction: column;
    gap: 10px;
}
.input{
    padding: 15px 100px 15px 15px;
    
}

.contact .shop-btn{
    border-radius: 4px;
    font-size: 1rem;
    padding: 15px 20px;
}

.latest-container{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.latest-title h3{
    font-size: 1.5rem;
    padding-bottom: 5px;
    align-items: center;
    
}

.latest-title p{
    font-size: 0.75rem;
    line-height: 20px;
    padding-bottom: 30px;
    text-align: center;

}





}