@media screen and (max-width:576px) {
*{
    /* margin: 0 auto; */
}
.banner{
    flex-direction: column-reverse;
    text-align: center;
    width: 100%;
    padding: 30px;
    gap: 50px;
}

.banner-img img{
    width: 100%;
    margin: 0 auto;
}


.features{
    margin: 80px auto;
}
.features-title{
    padding-left: 30px;
    padding-right: 30px;
}


.features-items{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 30px;
    padding-left: 30px;

}
.features-items img{
    width: 100%;
}




.ad-banner{
    padding-right:30px;
    padding-left:30px;
    margin: 50px auto;
}

.ad-banner-container{
    flex-direction: column;
    gap: 30px;
}


}