*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lato-font{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header{
    background-color: rgba(229, 84, 115, 0.1);
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-left: 240px;
    padding-right: 240px;
    gap: 129px;
    max-width: 1920px;
    margin: 0 auto;
}


.banner-heading{
    font-size: 4rem;
    font-weight: 800;
    line-height: 100%;
    color: #272727;
    margin-bottom: 32px;
}

.banner-description{
    font-size: 1rem;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 32px;
}

.shop-btn{
    background-color:#E55473 ;
    border: none;
    border-radius:8px ;
    color:white ;
    font-size: 1.25rem;
    padding:20px 43px ;
    font-weight: 700;
    cursor: pointer;
}

.banner-img{
    max-width: 635px;
}

.features{
    margin: 178px auto 128px ;
    max-width: 1440px;
}
.features-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.features-heading{
    font-size: 2.5rem;
    font-weight: 800;
    color: #272727;
    margin-bottom: 24px;
}

.features-description{
    font-size: 1.125rem;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.6);
    padding-bottom: 48px;
    max-width: 594px;
    margin: 0 auto;
}

.features-items{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.item-img-1,
.item-img-2,
.item-img-3{
    max-width: 464px;
    background-color: rgba(167, 33, 98, 0.15);
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
    padding: 100px 76px 0 75px;
    margin-bottom: 32px;
}
.item-img-2{
    background-color: rgba(5, 151, 160, 0.15);
}
.item-img-3{
    background-color:rgba(71, 125, 17, 0.15) ;
}
.item-name{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 32px;
    color: #272727;
    text-decoration: underline;
}

.ad-banner{
    background-color: rgba(39, 39, 39, 0.05);
    max-width: 1440px;
    padding: 86px 175px;
    margin: 128px auto;
}

.ad-banner-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
}



.card img{
    margin-bottom: 24px;
}

.card p{
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 35px;
    color: rgba(39, 39, 39, 0.8);
    text-align: center;
}

.offer{
    background-color: rgba(229, 84, 115, 0.05);
}

.offer-container{
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    margin: 0 auto;
    padding: 130px 400px;
    align-items: center;
}

.offer-text{
    margin: 0 auto;
}

.offer-text h2{
    font-size: 2.5rem;
    font-weight: 800;
    color: #272727;
    margin-bottom: 24px;
    text-align: center;
}

.offer-text p{
    font-size: 1.125rem;
    line-height: 30px;
    padding-bottom: 32px;
    color: rgba(39, 39, 39, 0.6);
    text-align: center;
    max-width: 594px;
    margin: 0 auto;
}

.btn{
    display: flex;
    justify-content: center;
}

.insta{
  margin-top: 128px;
  margin-bottom: 128px;

}

.insta-text{
    text-align: center;
    margin: 0 auto;
    max-width: 594px;
}

.insta-text-heading h3{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
    color: #272727;
}

.insta-text-description p{
    font-size:1.125rem ;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 48px;
}

.insta-img{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    justify-content:center;
}